/*-----------------------------------*\
  #BASE STYLES
\*-----------------------------------*/

:root {
  /* --page-color: #fafafa;
  --main-color: #2f4928; */

  /* Colors */
  --page-color: :#fafafa;
  --main-color:#2f4928;;
  --img-border: rgba(25, 78, 25, 0.966);
  --loader-color:rgb(155, 153, 153);

  /* Font Family */
  --main-font: "Open Sans", Arial, sans-serif;

  /* Font Size */
  --main-font-size: 10px;
}

/*-----------------------------------*\
  #REST
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--page-color);
  color: var(--main-color);
  padding-bottom: 3rem;
}

img {
  display: block;
  width: 100%;
}

ul li {
  list-style: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
}

button,
img,
li {
  cursor: pointer;
}

.container {
  width: 100%;
  display: grid;
  place-content: center;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
header {
  margin: 5em 0.3em 7em;
}

.profile {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  grid-template-rows: 80px 80px 80px;
  align-items: anchor-center;
  column-gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 800px){
  .profile {
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 50px 30px 60px;
  }
}

@media screen and (max-width: 668px) {
  header {
    margin: 5em 0.3em;
  }
  .profile {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 50px 20px 30px;
    /* grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 30px 20px 30px; */
    column-gap: 10px;
    margin: 2em 0;
  }

  .profile-edit-btn {
    padding: 2px 10px;
  }

  /* .profile-image img { border: 5px solid var(--img-border); } */
} 

.profile-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.profile-image img {
  border: 5px solid var(--img-border);
  border-radius: 50vh;
}

.profile-user-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-user-name {
  font-weight: 100;
}

.profile-edit-btn {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 4px 15px;
  background-color: var(--page-color);
  letter-spacing: 0.2px;
}

.profile-stats {
  grid-column: 2;
  grid-row: 2;
}

.profile-stats ul {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}

.profile-bio {
  grid-column: 2;
  grid-row: 3;
}

/*-----------------------------------*\
  #MAIN CONTENT
\*-----------------------------------*/

main {
  width: 65%;
  margin: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 5px;
}

.gallery-item {
  position: relative;
}

.gallery-image {
  height: 350px;
  object-fit: cover;
  display: block;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 800px) {
  .gallery-image {
    height: 280px;
  }
}

@media screen and (max-width: 650px) {
.gallery-image {
    height: 200px;
  }  
}

@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }
}

.gallery-item-info {
  display: none;
}

.gallery-item-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

.gallery-item:hover .gallery-item-info {
  display: flex;
}

.visually-hidden { display: none; }

.gallery-item-info ul {
  display: flex;
  gap: 1em;
}

.gallery-item-type {
  position: absolute;
  top: 5px;
  right: 10px;
}

/*-----------------------------------*\
  #LOADER STYLES & ANIMATION
\*-----------------------------------*/

.loader {
  width: 50px;
  height: 50px;
  border: 8px solid var(--loader-color);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s linear infinite;
  margin: 3em auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
